.landing-container {
  background-image: url("/src/assets/landing-bg.jpeg"); /* your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
}

.landing-content {
  text-align: center;
  width: 100%;
  max-width: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-title {
  font-size: 3rem;
  font-weight: bold;
  /*color: #575255;*/
  color: black;
  font-family: "Merriweather", serif;
  margin-bottom: 40px;
  background: rgba(252, 255, 252, 0.5);
  backdrop-filter: blur(1px);
  padding: 10px 20px;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.signup-card {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 15px;
  padding: 30px 40px;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.signup-card h2 {
  color: #333;
  margin-bottom: 20px;
}

.signup-card input {
  display: block;
  width: 100%;
  background-color: #555655;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #8ed58e;
  border-radius: 6px;
}

.signup-card button {
  width: 100%;
  padding: 10px;
  background-color: #ffb86c;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-card button:hover {
  background-color: #ff9a3c;
}

@media (max-width: 768px) {
  .landing-title {
    font-size: 2rem;
    text-align: center;
  }

  .signup-card {
    width: 90%;
    padding: 20px;
  }

  .signup-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
