.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: #fff;
  font-family: "Poppins", sans-serif;
  height: 250px; /* fixed height so it doesn’t expand */
  overflow-y: auto; /* allows scrolling when tasks exceed height */
}

/* Optional — smooth scrollbar for clean UI */
.todo-list::-webkit-scrollbar {
  width: 6px;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: #ffb86c;
  border-radius: 8px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.todo-list h2 {
  margin-bottom: 0.5rem;
  text-align: center;
  background-color: rgb(124, 68, 106);
  border-radius: 8px;
  width: 100%;
}

.tasks-container {
  width: 100%;
  background-color: rgba(108, 29, 130, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

.task-item .completed {
  text-decoration: line-through;
  color: #8527a5;
}

.add-task {
  margin-top: 0.5rem;
}

.add-btn {
  background-color: #ffb86c;
  border: none;
  border-radius: 20%;
  position: relative;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 40px;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;

   /* Center the "+" symbol */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1; /* ensure "+" is not pushed down */
  
}

.add-btn:hover {
  background-color: #ff9b3f;
}

/* Popup Styling */
.todo-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.todo-popup-content {
  background-color: #aa90be85;
  padding: 1rem;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.popup-tasks {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-top: 1rem;
}

.popup-task-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popup-task-item input[type="text"] {
  flex-grow: 1;
  padding: 0.3rem;
  border: 1px solid #a963b4;
  border-radius: 6px;
}

.add-field-btn {
  background: none;
  border: none;
  color: #ffb86c;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.add-field-btn:hover {
  color: #ff9b3f;
}

.popup-buttons {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-around;
}

.popup-buttons button {
  background-color: #ffb86c;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0.7rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.popup-buttons button:hover {
  background-color: #ff9b3f;
}
